<h1>Welcome to Instagraph. Please log in or sign up.</h1>
<%= flash[:notice] %>

<%= form_tag login_path do %>
  <%= label_tag 'Username'%>
  <%= text_field_tag 'user[name]' %><br/>
  <%= label_tag 'Password'%>
  <%= password_field_tag 'user[password]' %><br/>
  <%= submit_tag "Log In" %>
<% end %><br/>
<%= link_to "New User", new_user_path %><br/>
