<h1> Edit My Profile: <h1>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, :value => current_user.username%><br/>
  <%= f.label :password %>
  <%= f.password_field :password%><br/>
  <%= f.label "Confirm password" %>
  <%= f.password_field :password_confirmation %><br/>
  <%= f.label :email %>
  <%= f.text_field :email , :value => current_user.email%><br/>
  <%= f.label :profile_pic %>
  <%= f.text_field :profile_pic, :value => current_user.profile_pic%> <br>
  <%= f.submit "Confirm", {class: 'btn btn-primary'} %>
<% end %>
<br/>
<div align="left">
  <%= link_to "Cancel", user_path(current_user), class: 'btn btn-danger btn-lg' %>
</div>
