<%= flash[:notice] %>

<%= render "shared/header", page: "Sign Up" %>

<%= form_for @user do |f| %>
  <div class="modal-body" align="center">
    <%= f.label :username %>
    <br/>
    <%= f.text_field :username %>
    <br/>
    <br/>
    <%= f.label :password %>
    <br/>
    <%= f.password_field :password %>
    <br/>
    <br/>
    <%= f.label "Confirm password" %>
    <br/>
    <%= f.password_field :password_confirmation %>
    <br/>
    <br/>
    <%= f.label :email %>
    <br/>
    <%= f.text_field :email %>
    <br/>
    <br/>
    <%= f.label "Profile Image (Optional)" %>
    <br/>
    <%= f.text_field :profile_pic %>
    <br/>
    <br/>
    <%= f.submit "Create User", :class => 'btn btn-success btn-lg'%>
    <br/>
    <br/>
    <%= link_to "Cancel", login_path, class: 'btn btn-danger btn-lg' %>
  </div>

<% end %>
