<%= stylesheet_link_tag "users" %>

<%= render "shared/header", page: @title %>

<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%=link_to image_tag(@user.profile_pic), @user%>
      <h1><%= link_to @user.username, @user %></h1>
      <span><%= link_to "View my profile", @user %></span>
      <span><b>Pictures:</b> <%= @user.pictures.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>
      <ul class="users-follow">
        <%= render @users %>
      </ul>
      <h2><%= will_paginate %></h2>
    <% end %>
  </div>
</div>