<%= flash[:notice] %>

<!-- Display Current User Name at top of page. -->
<div class="fluid-container">
  <div class="jumbotron text-center">
    <h1 align="center">
      <strong><%= current_user.username %></strong>

    </h1>
    <h3 align="center"> <%= @user.email %>  </h3>
    <h2 align="center"><strong> <%= link_to "Edit Profile", edit_user_path %></strong> </h2>
  </div>
</div>



<div class="row">
  <div class="col-m-6">


  <div align="center"><%= image_tag @user.profile_pic %> </div>

  </div>
</div>

  <div class=container-fluid>
    <h2>
      Recent Comments:
    </h2><br/>
    <% current_user.comments.reverse.each do |comment|%>
    On
    <%= link_to "#{comment.picture.title}", picture_path(comment.picture) %>,
    <%= comment.created_at.strftime("%b %e, %Y") %>:<br/>
    <%= comment.content %><br/>
    <br/>
    <%end %>
  </div>

  <div class=container-fluid>
    <h1><%= button_to "Add a Picture", new_picture_path,  {class: 'btn btn-warning'} %></h1>
    <h2>
      My Pictures
    </h2>
    <% @pictures.each do |picture|%>
    <h3><%= link_to "#{picture.title}", picture_path(picture) %></h3>
    <%= image_tag picture.image_url %>
    <% end %>
    <h3><%= link_to "All Pictures", pictures_path %>
    </h3>
  </div>
