<%= flash[:notice] %>
<h1><%= @user.username %></h1>
<p><%= @user.email %> </p>
<h2> Recent Comments: </h2> <br>
<% current_user.comments.reverse.each do |comment|%>
At <%= comment.created_at %>: <%= comment.content %> on <%= link_to "#{comment.picture.title}", picture_path(comment.picture) %>
<br>
<%end %>
<h2> My Tags: </h2>
<% tagz = [] %> <% @user.pictures.each do |pic| %> <% pic.tags.each do |tag| %>
<h3> <% tagz << tag.name %> </h3> <br>
<%end %>
<% end %>
<h3> <%= tagz.sort.join('   ')%> </h3>
<h1><%= button_to "Add a Picture", new_picture_path %></h1>
<h2> My Pictures </h2>
<% @pictures.each do |picture|%>
<h3><%= link_to "#{picture.title}", picture_path(picture) %></h3>
<%= image_tag picture.image_url %>
<% end %>
<h3><%= link_to "All Pictures", pictures_path %> </h3>
