<%= flash[:notice] %>

<!-- Display Current User Name at top of page. -->
<!-- <div class="fluid-container">
  <div class="jumbotron text-center">
    <div style="float: left; width: 150px;">
      <h4 align="left">
        <strong>Logged in as <%= current_user.username %></strong>
      </h4>
      <h4 align="left">
        <%= link_to "Edit Profile", edit_user_path %>
      </h4>
      <h4 align="left">
        <%= link_to "Log out", logout_path, method: "DELETE" %>
      </h4>
    </div>
    <div style="display: block; width: 300px; margin: 0 auto; padding-right: 150px;">
      <h1>
        <%= link_to "Insta", pictures_path %>
      </h1>
      <h2>
        User Profile
      </h2>
    </div>
  </div>
</div> -->
<%= render "shared/header", page: "User Profile" %>

<div class="fluid-container">
  <div class="row">
    <div class="col-3">
      <%= button_to "Add a Picture", new_picture_path,  {class: 'btn btn-warning btn-block btn-lg'} %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-3">
      <div>
        <%= image_tag @user.profile_pic, style: "max-width: 100%; height: auto;"%>
      </div>
      <br/>
      <% if @user.id == current_user.id %>
        <h4 align="left">
          <%= link_to "Edit Profile", edit_user_path %>
        </h4>
      <% end %>
      <br/>
      <h2>
        Recent Comments:
      </h2>
      <% current_user.comments.reverse.each do |comment|%>
        On
        <%= link_to "#{comment.picture.title}", picture_path(comment.picture) %>
        ,
        <%= comment.created_at.strftime("%b %e, %Y") %>:
        <br/>
        <%= comment.content %>
        <br/>
        <br/>
      <% end %>
    </div>
    <div class="col">
      <h2>
        My Pictures:
      </h2>
      <div class="row">
        <!-- <% @pictures.each do |picture|%>
          <h3>
            <%= link_to "#{picture.title}", picture_path(picture) %>
          </h3>
          <div style="padding-bottom: 60px;">
            <%= link_to image_tag(picture.image_url), picture_path(picture) %>
          </div>
        <% end %> -->
        <% @pictures.each do |picture|%>
          <div class="col-sm-3">
            <h5 align="center">
              <%= link_to "#{picture.title}", picture_path(picture) %>
            </h5>
            <%=link_to  picture_path(picture)  do %>
              <%= image_tag (picture.image_url), class:"img-fluid img-round", style: "max-width: 100%; height: auto;" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
