<%= flash[:notice] %>

<!-- Display Current User Name at top of page. -->
<div class="fluid-container">
  <div class="jumbotron text-center">
    <div style="float: left; width: 150px;">
      <h4 align="left">
        <strong>Logged in as <%= current_user.username %></strong>
      </h4>
      <h4 align="left">
        <%= link_to "Edit Profile", edit_user_path %>
      </h4>
    </div>
    <div style="display: block; width: 300px; margin: 0 auto; padding-right: 150px;">
      <h1>
        <%= link_to "Insta", pictures_path %>
      </h1>
      <h2>
        User Profile
      </h2>
    </div>
  </div>
</div>

<div class="grid-container">
  <div>
    <%= image_tag @user.profile_pic %>
    <br/>
      <h2>
        Recent Comments:
      </h2>
      <% current_user.comments.reverse.each do |comment|%>
      On
      <%= link_to "#{comment.picture.title}", picture_path(comment.picture) %>
      ,
      <%= comment.created_at.strftime("%b %e, %Y") %>:
      <br/>
      <%= comment.content %>
      <br/>
      <br/>
    <% end %>
  </div>
  <div></div>
  <div>
    <%= button_to "Add a Picture", new_picture_path,  {class: 'btn btn-warning btn-block btn-lg'} %>
    <!-- <h2>
      <%= link_to "All Pictures", pictures_path %>
    </h2> -->
  </div>
  <div></div>

  <div></div>
  <div>
    <h2>
      My Pictures:
    </h2>
    <% @pictures.each do |picture|%>
    <h3>
      <%= link_to "#{picture.title}", picture_path(picture) %>
    </h3>
    <div style="padding-bottom: 50px;">
      <%= link_to image_tag(picture.image_url), picture_path(picture) %>
    </div>
    <% end %>
  </div>
</div>
