<%= render "shared/header", page: "Edit Picture" %>

<h1>Edit picture info</h1>

<%= form_for @picture do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
<div align="center">
  <%= link_to "Cancel", picture_path(@picture), class: 'btn btn-danger btn-lg' %>
</div>
