<div class="fluid-container">
  <div class="jumbotron text-center">
    <div style="float: left; width: 150px;">
      <h4 align="left">
        <strong>Logged in as <%= link_to "#{current_user.username}", user_path(current_user) %></strong>
      </h4>
      <h4 align="left">
        <%= link_to "Log out", logout_path, method: "DELETE" %>
      </h4>
    </div>
    <div style="display: block; width: 300px; margin: 0 auto; padding-right: 150px;">
      <h1>
        <%= link_to "Insta", pictures_path %>
      </h1>
      <h2>
        Front Page
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <% @pictures.each do |picture|%>

  <div class="col-sm-3">
    <h5 align="center"><%= link_to "#{picture.title}", picture_path(picture) %></h5>
    <%=link_to  picture_path(picture)  do %>
    <%= image_tag (picture.image_url), class:"img-fluid img-round" %>
    <% end %>
    <br/>
    posted by:
    <%= picture.user.username %>
    at:
    <%=picture.created_at %>
  </div>
  <% end %>
</div>
