<!-- <div class="fluid-container">
  <div class="jumbotron text-center">
    <div style="float: left; width: 150px;">
      <h4 align="left">
        <strong>Logged in as <%= link_to "#{current_user.username}", user_path(current_user) %></strong>
      </h4>
      <h4 align="left">
        <%= link_to "Log out", logout_path, method: "DELETE" %>
      </h4>
    </div>
    <div style="display: block; width: 300px; margin: 0 auto; padding-right: 150px;">
      <h1>
        <%= link_to "Instr", pictures_path %>
      </h1>
      <h2>
        Front Page
      </h2>
    </div>
  </div>
</div> -->
<%= render "shared/header", page: "Front Page" %>

<div class="row">
  <% @pictures.each do |picture|%>

  <div class="col-sm-3" align="center">
    <h4 align="center">
      <%= link_to "#{picture.title}", picture_path(picture) %>
    </h4>
    <%= link_to picture_path(picture) do %>
      <%= image_tag (picture.image_url), class:"img-fluid img-round" %>
    <% end %>
    <br/>
    <h5>
      posted by
      <%= link_to picture.user.username, user_path(picture.user) %>
      on
      <%=picture.created_at.strftime("%b %e, %Y") %>
    </h5>
  </div>
  <% end %>
</div>
