<h1>Add a Picture</h1>
<%= form_for @picture do |f| %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :tags %>
  <%= f.text_area :tags, value: nil %>
  <%= f.submit %>
<% end %>
