<%= flash[:notice] %>
<%= form_for @picture do |f| %>
  <div class="modal-body" align="center">
    <div align="center"><h1>Add a Picture</h1></div>
    <%= f.label :image_url %>
      <div><%= f.text_field :image_url %></div><br>
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title %></div><br/>
    <div><%= f.label :tags %></div><br/>
    <div><%= f.text_area :tags, value: nil %></div>
    <div><%= f.submit "Add Picture", :class => 'btn btn-success btn-large'%></div>
  </div>
<% end %>
