<%= render "shared/header", page: "Image View" %>

<div align="center">
  <h2>
    <%= @picture.title %>
  </h2>

  <% if @picture.user == current_user %>
    <h4>
      <%= link_to "Edit title", edit_picture_path %>
    </h4>
  <% end %>

  <div>
    <%= image_tag @picture.image_url %>
  </div>

  <div class="fluid-container">
    <br/>

    <h5>
      Tags:
      <% @picture.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %>
      <% end %>
    </h5>

    <br/>

    <div style="width: 700px;" align="left">
      <h3>
        Add a comment
      </h3>

      <%= form_for @comment, url:comments_path(@picture) do |f| %>
        <%= f.text_area :content, size: "100" %>
        <%= f.submit "Submit", :class => 'btn btn-success btn-lg' %>
      <% end %>

      <% if @picture.user == current_user %>
        <h3>
          Add a tag
        </h3>

        <%= form_for @tag, url:tags_path(@picture) do |f| %>
          <%= f.text_area :name, size: 20 %>
          <%= f.submit "Submit", :class => 'btn btn-success btn-large' %>
        <% end %>

        <h3>
          Add Existing Tag
        </h3>

        <%= form_for @picture, url:picture_path(@picture) do |f| %>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name)%>
          <%= f.submit "Submit" %>
        <% end %>
      <% end %>
    </div>

    <br/>

    <div style="width: 700px;" align="left">
      <h2>
        <strong>
          <% if @picture.comments.count == 1 %>
            <%= "#{@picture.comments.count} Comment" %>
          <% else %>
            <%= "#{@picture.comments.count} Comments" %>
          <% end %>
        </strong>
      </h2>

      <% @picture.comments.each do |comment| %>
        <div>
          <h4>
            <strong>
              <%= link_to comment.user.username + " ", user_path(comment.user) %>
            </strong>
            on
            <%= " " + comment.created_at.strftime("%b %e, %l:%M %p") %>
          </h4>
          <h3>
            <%= comment.content %>
          </h3>
        <div>
        <br>
      <% end %>
    </div>
  </div>
</div>
