<h2><%= @picture.title %></h2>
<%= link_to "Edit title", edit_picture_path %>

<br><br><br>
<%= image_tag @picture.image_url %>
<br><br><br>

<%= link_to "Add Comment", new_comment_path %>
<%= link_to "Back", new_comment_path %>
