<h2><%= @picture.title %></h2>
<%= link_to "Edit title", edit_picture_path %>

<br><br><br>
<%= image_tag @picture.image_url %>
<br><br><br>

<h4> Comments </h4>

<% @picture.comments.each do |comment| %>
<br>
<%= comment.user.username + ": " %>
<%= comment.content %>
<% end %>

<h3>Add a comment</h3>
<%= form_for @comment, url:comments_path(@picture) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit "Submit" %>
<% end %>

<%= link_to "Back", user_path %>
