<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% if logged_in? %>
        <li>Welcome, <%= current_user.username %> </li>
        <li><%= link_to "Log Out", logout_path, method: 'DELETE' %> </li>
      <% else %>
        <li><%= link_to "Login", login_path %> </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
